* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.main img {
    width: 300px;
    height: 300px;
}

.first {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}